*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.env
.env.local
.env.*.local
db.sqlite3
/media/
/staticfiles/
/static/admin/
/static/rest_framework/
.coverage
htmlcov/
.pytest_cache/
.webassets-cache
instance/
.webassets-cache
.sass-cache/
