{% extends 'base.html' %}
{% block title %}Change Password - Khpal Buner{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4">Change Password (Required)</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">{{ form.old_password.label_tag }} {{ form.old_password }}</div>
                        <div class="mb-3">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</div>
                        <div class="mb-3">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</div>
                        <button type="submit" class="btn btn-primary w-100">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
